# Python
__pycache__/
*.pyc

# Reports
reports/*.csv
reports/*.md

# Local files
querylog.json

# Virtual environments
.venv/
venv/

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db